body {
    font-family: 'Kantumruy Pro', 'Battambang', sans-serif;
}

/* Custom scrollbar សម្រាប់ភាពស្អាតបាត */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.active-menu {
    background-color: #1e293b;
    color: #ffffff;
    border-left: 4px solid #6366f1;
}
